<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">

         <div class='modal-body1'>
          {{#each this}}
            <section id="sec--{{id}}" class="help">
              <div class="col-md-6 wrapper">
                <div class="card-text-center">
                  
                   <div class="card-title"><h2><i>{{type}}</i></h2></div>
            
                    {{#each attractions}}
                  
                       <div class='card-block card-text-center' style="border: 0.5px solid;  background-color: {{area_id}};">
                     
                        <h3 id="card--{{id}} " class="card-text-center"><a>{{name}}</a></h3>
                         <h4 id="desc--{{id}}" class="hide-description">{{description}}</h4>
                          <div class="card-text-center"> <h5 class="time-size-hbs">{{times}}</h5></div>
                        </div>
                    {{/each}}
                
                </div>
              </div>
            </section>
          {{/each}}
        </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

